-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- block_output ||= nil
%tr.executor{ data: {executor: executor.attributes}}
  %td.enabled
    - if executor.enabled 
      %i.success.icon-checked
    - else 
      %i.icon-unchecked
  %td.online
    - unless executor.enabled 
      %i.icon-offline
    - else
      - if executor.online? 
        %i.success.icon-online
      - else
        %i.failed.icon-offline
  %td.name #{executor.name}
  %td
    .load.badge
      %i{class: (executor.relative_load > 0 ? "icon-executing" : "")}
      %span #{executor.current_load} / #{executor.max_load}
  %td= executor.traits.join(", ")
  - if block_output
    = block_output 
