-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

.well 

  = form_group "Name", control_id: 'executor_name', cols_control: 4 do
    = text_field :executor, :name, value: executor.name, autofocus: true, class: 'form-control'

.well

  = form_group "Enabled", control_id: 'executor_enabled' do
    .checkbox
      = check_box :executor, :enabled, value: executor.enabled

  = form_group "Traits", control_id: 'executor_traits', cols_control: 8 do
    = text_field :executor, :traits, value: executor.try(:traits).try(:join,", "), class: 'form-control'

  = form_group "Max load", control_id: 'executor_max_load', cols_control: 2  do
    = text_field :executor, :max_load, value: executor.max_load, type: 'number', class: 'form-control'

.well 

  = form_group "Host", control_id: 'executor_host', cols_control: 4 do
    = text_field :executor, :host, value: executor.host, type: 'text', class: 'form-control'

  = form_group "Port", control_id: 'executor_port', cols_control: 2 do
    = text_field :executor, :port, value: executor.port, type: 'number', class: 'form-control'

  = form_group "Ssl", control_id: 'executor_ssl'  do
    .checkbox
      = check_box :executor, :ssl, value: executor.ssl


.well 

  = form_group "Overwrite Server Settings", control_id: 'server_overwrite'  do
    .checkbox
      = check_box :executor, :server_overwrite, value: executor.server_overwrite

  = form_group "Server host", control_id: 'executor_server_host', cols_control: 4 do
    = text_field :executor, :server_host, value: executor.server_host, class: 'form-control'

  = form_group "Server port", control_id: 'exutor_server_port', cols_control: 2  do
    = text_field :executor, :server_port, value: executor.server_port, type: 'number', class: 'form-control'

  = form_group "Server ssl", control_id: 'executor_server_ssl'  do
    .checkbox
      = check_box :executor, :server_ssl, value: executor.server_ssl



