-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.



.panel.panel-primary
  .panel-heading
    %h3 Basic account settings

  .panel-body
    = form_for :user, url: workspace_account_path, method: 'PUT', html: {class: "form-horizontal"} do |form|
      = form_group "Login / nick name", control_id: "user_login" do
        = form.text_field :login, required: true, class: "form-control"

      = form_group "First name", control_id: "user_first_name" do
        = form.text_field :first_name, required: true, class: "form-control"

      = form_group "Last name", control_id: "user_last_name"  do
        = form.text_field :last_name, required: true, class: "form-control"

      = form_group "" do
        .pull-right
          = button_tag type: 'submit', class: "btn btn-primary" do
            Save

.panel.panel-danger
  .panel-heading
    %h3 Password

  .panel-body
    = form_for :user, url: workspace_account_path, method: 'PUT', html: { class: "form-inline", style: "text-align: center;"} do |form|

      .form-group
        %label.sr-only{for: 'user_password'}
        = form.password_field :password, class: "form-control", placeholder: "New password", style: "width: 20em"

      = button_tag type: 'submit', class: "btn btn-danger" do
        Change




.panel.panel-info
  .panel-heading
    %h3 Email addresses

  .panel-body


    %table.table.table-striped
      %thead
      %tbody
        = render partial: 'email_address', collection: @user.email_addresses

    .row 

      =form_tag email_addresses_workspace_account_path, method: 'POST', class: 'form-inline', style: "text-align: center;" do

        .form-group
          %label.sr-only{for: 'email_address'}
          = text_field_tag 'email_address', nil, placeholder: "Email address", type: 'email', class: "form-control", style: "width: 30em"

        = button_tag type: 'submit', class: "btn btn-info" do
          %i.icon-add
          Add email address


