-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.


=form_group "Name", control_id: "repository_name" do
  = f.text_field :name, autofocus: true, class: "form-control"

=form_group "Origin uri", control_id: "repository_origin_uri" do
  = f.text_field :origin_uri, class: "form-control"

=form_group "Importance", control_id: "repository_importance", cols_control: 2 do
  = f.text_field :importance, type: 'number', class: "form-control" 

=form_group "Fetch and update interval (seconds) ", control_id: "repository_git_update_interval", cols_control: 4 do
  = f.text_field :git_fetch_and_update_interval, type: 'number', class: "form-control" 
  %span.help-block 

=form_group "Update interval (seconds) ", control_id: "repository_branches_update_interval", cols_control: 4 do
  = f.text_field :git_update_interval, type: 'number', class: "form-control" 
  %span.help-block 
    Only set this value if you push directly to a Cider-CI repository via git.
    Sensible values range from 1 to 60. 
