-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

%h1 
  %i.icon-repository
  Edit Repository "#{@repository.name}"

= form_for @repository, url: admin_repository_path(@repository) , method: "PUT", html: {class: "form-horizontal"} do |f|

  = render 'form_fields', f: f

  = form_group "" do
    = button_tag type: 'submit', class: "btn btn-primary pull-right" do
      Save


