-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- commit ||= @commit
- cs = @commit_cache_signatures ? @commit_cache_signatures.select{|cs| cs.commit_id == commit.id}.first :  commit.commit_cache_signature

- cache [commit, cs.branches_signature, cs.executions_signature, cs.repositories_signature] do
  - executions = commit.executions
  - branch_heads = commit.branches
  - branches = commit.branches.reorder("branches.name ASC")

  %h1.subject= commit.subject

  %p
    = render 'remote_links', commit: commit, repositories: commit.repositories
    %span.commit-id= commit.id

  %ul.list-inline
    - executions.each do |execution|
      %li 
        =link_to workspace_execution_path(execution) do
          =render_execution_label(execution) do
            =execution.definition_name


  - if commit.author_date = commit.committer_date
    %p 
      Authored and committed  
      =render 'humanized_time_from_now', at: commit.author_date 
      by #{commit.author_name}
  - else 
    %p 
      Authored 
      =render 'humanized_time_from_now', at: commit.author_date 
      by #{commit.author_name}
    %p 
      Committed 
      =render 'humanized_time_from_now', at: commit.committer_date
      by #{commit.committer_name}

  .branches

    This commit is included in the history of the following branch heads: 
    %ul.list-inline{style: "display: inline-block;"}
      - commit.repositories.each do |repository| 
        %li<>
          %i.icon-repository
          %strong.nowrap= repository.name
          %span>:
          %ul.list-inline{style: "display: inline"}
            = render partial: "branch_li", collection: branches.where("repository_id = ?",repository.id), as: :branch, locals: {commit: commit}
             



  .body
    - unless commit.body.blank?
      %pre= commit.body

