-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

%li.dropdown.admin-frontpage-actions
  %a.dropdown-toggle{href: "#", data: {toggle: 'dropdown'}} 
    %i.icon-administrate
    Administration
    %b.caret
  %ul.dropdown-menu
    %li
      = link_to admin_branch_update_triggers_path do
        %i.icon-trigger
        Branch update triggers
    %li
      = link_to admin_executors_path do
        %i.icon-executor
        Executors
    %li
      = link_to admin_definitions_path do
        %i.icon-execution-definition
        Execution definitions
    %li
      = link_to admin_repositories_path do
        %i.icon-repository
        Repositories
    %li
      = link_to admin_users_path do
        %i.icon-user
        Users
    %li.divider 
    %li
      = link_to edit_admin_timeout_settings_path do
        %i.icon-timeout-settings
        Time and timeout settings


