-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

%h1 
  Edit time and timeout settings

= form_for @timeout_settings,  
  url: admin_timeout_settings_path(id: @timeout_settings.id), 
  html: {class: "form-horizontal"} do |form| 

  = form_group "Attachment retention time (hours)", 
    control_id: 'timeout_settings_attachment_retention_time_hours',
    cols_label: 5 do
    = form.number_field :attachment_retention_time_hours, 
      class: 'from-control'

  = form_group "Trial-Scripts retention time (days)", 
    control_id: 'trial_scripts_retention_time_days',
    cols_label: 5 do
    = form.number_field :trial_scripts_retention_time_days, 
      class: 'from-control'


  = form_group "Trial dispatch timeout (minutes)",
    control_id: 'timeout_settings_trial_dispatch_timeout_minutes',
    cols_label: 5 do
    = form.number_field :trial_dispatch_timeout_minutes, 
      class: 'from-control'

  = form_group "Trial end state timeout (minutes)",
    control_id: 'timeout_settings_trial_end_state_timeout_minutes',
    cols_label: 5 do
    = form.number_field :trial_end_state_timeout_minutes, 
      class: 'from-control'

  = form_group "Trial execution timeout (minutes)",
    control_id: 'timeout_settings_trial_execution_timeout_minutes',
    cols_label: 5 do
    = form.number_field :trial_execution_timeout_minutes, 
      class: 'from-control'

  =form_group "" do
    = button_tag type: 'submit', 
      class: "btn btn-primary pull-right" do
      Save

