-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- execution ||= @execution
- cs = execution.execution_cache_signature
- tasks ||= @tasks
- cache [execution,cs.tasks_signature,cs.trials_signature,@tasks_select_condition,@page] do |cache_tag|
  #tasks.tasks

    .pull-right
      = form_tag workspace_execution_path(execution), method: 'GET', class: "form-inline well right-top-form" do
        
        %fieldset
          .pull-right
            %ul.list-inline
              %li 
                .form-group
                  %label.sr-only{for: "tasks_select_condition"}
                  = select_tag :tasks_select_condition, 
                    options_for_select([["All",:all],["With failed trials",:with_failed_trials],["Only failed",:failed]],@tasks_select_condition), 
                    class: "form-control"

              %li
                .form-group
                  %label.sr-only{for: "name_substring_term"}
                  =text_field_tag :name_substring_term, nil, placeholder: "substr OR substr",
                    value: @name_substring_term, 
                    class: "search-query form-control"

              %li
                = link_to workspace_execution_path(execution), class: 'btn btn-sm btn-warning' do
                  %i.icon-remove-sign
                  Reset


              %li
                =button_tag type: 'submit', class: 'btn btn-sm btn-primary' do
                  %i.icon-filter
                  Filter

    %h2 Tasks 

    .clearfix

    -# use the ids instead of the cache tag for judging replacement
    %table.tasks.table.table-striped
      %thead
      %tbody
        - tasks.each do |task| 
          - cache [task,task.trials] do |cache_tag|
            = render 'task_tr', task: task, cache_tag: cache_tag


    = paginate tasks, theme: 'default'



