-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- execution ||= @execution
- cs = @execution_cache_signatures ? @execution_cache_signatures.select{|cs| cs.execution_id == execution.id}.first :  execution.execution_cache_signature

- cache [execution,cs.stats_signature,cs.commits_signature,cs.branches_signature,cs.tags_signature] do |cache_tag|
  - commits = execution.commits

  %tr.execution{class: bootstrap_color_for_state(execution.state)}

    %td.execution

      %span.nowrap
        %span<>
          =link_to workspace_execution_path(execution), class: "label #{label_class_for_state(execution.state)}" do
            %i{class: icon_class_for_state(execution.state)}<>
        = link_to workspace_execution_path(execution)  do
          %span{style: "margin-left: 0.5em"}=execution.definition_name.truncate(12)

    %td.stats
      %span.nowrap
        - if %(failed success).include? execution.state
          - if execution.state == 'success'
            = execution.execution_stat.success
          - else
            ="#{execution.execution_stat.failed} / #{execution.execution_stat.total}"
          

    %td.created-at= render 'humanized_time_from_now', at: execution.created_at

    %td.repositories
      %ul.list-unstyled
        - execution.repositories.each do |repository| 
          %li<>
            %span.nowrap
              -# %i.icon-repository
              %strong.nowrap= repository.name

    %td.tags= render 'tags', execution: execution, cache_tag: cache_tag

    %td.branches
      %ul.list-unstyled
        - execution.branches.select('branches.name,"commits"."committer_date",commits.created_at,commits.id').each do |branch|
          %li
            %strong= branch.name

    %td.commits
      %ul.list-unstyled
        - commits.each do |commit|
          %li
            #{commit.committer_email.gsub(/@.*/,'').truncate(15)}:
            %em= commit.subject.truncate(30)

  %tr.spacer


