-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- commit ||= @commit
- execution ||= @execution
%h1 
  New Execution for Commit
  %span.commit-id #{commit.id[0..5]}
    
= form_for @execution, url: workspace_executions_path,  method: 'POST', html: {class: "form-horizontal", role: "form" } do |f|

  = hidden_field_tag :commit_id, params[:commit_id]

  =form_group "Execution Definition", control_id: "definition_id" do
    = select_tag :definition_id, options_for_select(@definitions.reorder(:name).map{|d| [d.name, d.id]}), autofocus: true, class: "form-control"

  =form_group "Tags", control_id: "execution_tags" do
    =text_field :execution, :tags, 
      placeholder: "new tag 1, new tag 2, ...", 
      data:{autocomplete_path: workspace_tags_path}, 
      value: "", class: "form-control"

  =form_group "Priority" do |opts|
    = f.text_field :priority, type: :number, class: "form-control", id: opts[:control_id]

  =form_group "" do
    =button_tag type: 'submit', class: "btn btn-primary pull-right" do
      %i.icon-execution
      Execute
