-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.


.panel.panel-primary
  .panel-heading
    %h3 Session settings

  .panel-body
    = form_for :session, url: workspace_session_path, method: 'PUT', html: {class: "form-horizontal"} do |form|

      = form_group "Enable mini-profiler", control_id: "mini_profiler_enabled" do
        .checkbox 
          = check_box_tag :mini_profiler_enabled, "1", session[:mini_profiler_enabled]

      = form_group "" do
        .pull-right
          = button_tag type: 'submit', class: "btn btn-primary" do
            Save


