-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

%h1 New branch-update-trigger

= form_for @branch_update_trigger, url: admin_branch_update_triggers_path,
  method: 'POST', class: "form-horizontal" do |form|

  = form_group "Branch" do
    = select_tag :branch_id, 
      options_for_select(@branches.map{|b| ["#{b.repository.name} / #{b.name}",b.id]}), 
      autofocus: true,
      class: "form-control"

  = form_group "Defintion" do
    = select_tag :definition_id, 
      options_for_select(@definitions.map{|d| [d.name,d.id]}), 
      class: "form-control"

  =form_group "Execution tags", control_id: "execution_tags" do
    =text_field :branch_update_trigger, :tags, 
      placeholder: "new tag 1, new tag 2, ...", 
      data:{autocomplete_path: workspace_tags_path}, 
      value: @branch_update_trigger.tags.join(", "), class: "form-control"

  = form_group "Active", control_id: "branch_update_trigger_active" do
    .checkbox
      = check_box :branch_update_trigger, :active, value: @branch_update_trigger.active

  =form_group "" do
    = button_tag type: 'submit', class: "btn btn-primary pull-right" do
      Create



