-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.


.pull-right
  =link_to new_admin_user_path, class: "btn button btn-primary" do
    %i.icon-add
    Add a new user

%h1 
  %i.icon-user
  Users

.pull-right

  = form_tag admin_users_path, method: 'GET', class: "form-inline well right-top-form", role: 'form' do

    %fieldset
      .pull-right
        %ul.list-inline
          %li
            .form-group
            %label.sr-only{for: "user_text"}
            = text_field :user, :text, placeholder: "Users text search", autofocus: true,
                value: user_text_search_filter, class: "form-control"
          %li
            .checkbox
              %label
                = check_box_tag :is_admin, true, is_admin_filter, class: "inline" 
                Is administrator
          %li
            = link_to admin_users_path, class: 'btn btn-small btn-warning' do
              %i.icon-remove-sign
              Reset
          %li
            = button_tag type: 'submit', class: 'btn btn-small btn-primary' do
              %i.icon-filter
              Filter


%table.table.table-striped
  %thead
  %tbody
    = render @users


= paginate @users, theme: 'default'

