-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

!!!
%html
  %head
    %title Cider-CI
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    - if Rails.env == 'development'
      = javascript_include_tag "try", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{data: (@body_data || {})}
    .container

      = cache [admin_party?,current_user,admin?] do 
        = render partial: "navbar/navbar" 

      #messages
        - if flash[:success]
          .alert.alert-success.alert-dismissable
            %button.close{type:"button", 'data-dismiss'=>'alert'} &#215
            = flash[:success]
        - if flash[:notice]
          .alert.alert-notice.alert-dismissable
            %button.close{type:"button", 'data-dismiss'=>"alert"} &#215
            = flash[:notice]
        - if flash[:error] and (flash[:error].is_a? Array) or flash[:error] = [flash[:error]]
          - flash[:error].each do |error|
            - if error
              .alert.alert-danger.alert-dismissable
                %button.close{type:"button", 'data-dismiss'=>"alert"} &#215
                = error

      %div#application{data: {env: Rails.env}}

      = yield 


